@import "../../style/index.scss";

.resume {
  @include flex-center;
  width: 100%;
  background: transparent;
}

p {
  padding-bottom: 2.5vh;
}

h2 {
  padding-bottom: 1vh;
}

h3 {
  color: $highlight;
  padding-bottom: 2vh;
}

h5 {
  padding-bottom: 0.5vh;
  text-decoration: underline;
}