$purple: #e478ee;
$blue: #bbdefb;
$yellow: #fff9c4;
$green: #44c475;
$aqua: #a7dfa7;
$orange: #fa7b62;
$red: #ff5252;
$white: #fff9f6;
$black: #464655;
$brown: #403233;

$primary: $purple;
$secondary: $white;
$highlight: $red;